html{
	height: 100%;
}
body{
	margin: 0px;
	padding: 0px;
	background: #000;
	height: 100%;
	width: 100%;
	color: #fff;
}
#mainMenu{
	width: 1040px;
	margin: auto;
	background: #587acf;
	/*border-top:2px solid #fff;*/
	/*border-bottom:2px solid #fff;*/
}
#logoImg{
	width: 1040px;
	margin: auto;
	text-align: center;
	background: #4b5e9b;
}
#content{
	margin: auto;
	width: 1040px;
	min-height: 100%;
	background: #86b3f2;
}
#content #aboutme{
	padding: 10px;
}
.mainMenuBtn{
	float: left;
	width: 25%;
	text-align: center;
}
.mainMenuBtn[state="choiced"]{
	background: #dcca37;
}
.btnImg{
	padding: 5px;
}
.imglist{
	float: left;
	width: 500px;
	margin: 10px;
}
.imgbox{
	margin-top: 10px;
	margin-bottom: 10px;
}
.rbutton {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    background: #dcca37;
 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
a {  
   color: #fff;  
   text-decoration: none;  
} 
a:hover {  
   text-decoration: none;  
   color: #ffd716; 
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: both;
}
li{
	margin: 0px;
	padding: 0px;
	line-height: 0;
}
.clearBox{
	width: 0px;
	height: 0px;
	clear: both;
}
img{
	vertical-align:middle;
}