html{
	height: 100%;
}
body{
	margin: 0px;
	padding: 0px;
	background: #000;
	height: 100%;
	width: 100%;
	color: #587acf;
	text-align: center;
}
#mainMenu{
	width: 1040px;
	margin: auto;
	background: #587acf;
	/*border-top:2px solid #fff;*/
	/*border-bottom:2px solid #fff;*/
}
#logoImg{
	width: 1040px;
	margin: auto;
	text-align: center;
	background: #4b5e9b;
}
#content{
	margin: auto;
	width: 1040px;
	min-height: 100%;
	background: #4b5e9b;
}
#content #aboutme{
	padding: 50px;
	text-align: left;
	color: #fff;
}
.mainMenuBtn{
	float: left;
	width: 25%;
	text-align: center;
}
.mainMenuBtn[state="choiced"]{
	background: #cebd33;
}
.btnImg{
	padding: 5px;
}
.imglist{
	float: left;
	width: 500px;
	margin: 10px;
}
.imgbox{
	margin-top: 10px;
	margin-bottom: 10px;
	border:2px solid #4b5e9b;
}
.sample{
	padding: 10px;
	border-bottom:2px solid #587acf;
	text-align: center;
}
.samplebox{
	color: #fff;
	background: #587acf;
	padding: 0px 5px 10px 5px;
	margin:  10px 0px;
}
.sample_img{
	float: left;
}
.sample_info{
	float: left;
	padding: 10px;
	margin-left: 10px;
	color: #fff;
	text-align: left;
	word-wrap:break-word;
}
.rbutton {
    display: inline-block;
    position: relative;
    /*margin: 10px;*/
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    background: #cebd33;
 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.clearBox{
	width: 0px;
	height: 0px;
	clear: both;
}
a {  
   color: #fff;  
   text-decoration: none;  
}
a:hover {  
   text-decoration: none;  
   color: #fff100; 
}
h3{
	margin: 0px;
	padding: 0px;
	border-bottom:2px solid #4b5e9b;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: both;
}
li{
	margin: 0px;
	padding: 0px;
	line-height: 0;
}
img{
	vertical-align:middle;
}