body{
	margin: 0px;
	padding: 0px;
	background: #043340;
	height: 100%;
	width: 100%;
}
#logoImg{
	width: 100%;
	background: #1d292b;
	text-align: center;
	padding:5px 0px;
}
#mainMenu{
	width: 100%;
	background: #3c6d77;
}
#homeMenu{
	width: 100%;
	height: 100%;
	margin-top: 30%;
  	text-align: center;
  	color: #ff8317;
}
#content{
	width: 100%;
	text-align: center;
	min-height: 100%;
	color: #3c6d77;
}
#aboutme{
	padding: 10px;
	text-align: left;
	color: #3c6d77;
}
.imgbox{
	width: 100%;
	margin-top: 10px;
}
.sample{
	padding: 10px;
	border-bottom:2px solid #3c6d77;
	text-align: center;
}
.sample_info{
	color: #fff;
	text-align: left;
	word-wrap:break-word;
}
.clearBox{
	width: 0px;
	height: 0px;
	clear: both;
}
.mainMenuBtn{
	float: left;
	width: 25%;
	text-align: center;
	color: #ff8317;
}
.mainMenuBtn[state="choiced"]{
	background: #043340;
}
.btnImg{
	margin: 5px;
	text-align: center;
}
.rbutton {
    display: inline-block;
    margin: 10px 0px;
    position: relative;
    /*margin: 10px;*/
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    background: #dcca37;
 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
a {  
   color: #3c6d77;  
   text-decoration: none;  
}
h3{
	margin: 0px;
	padding: 0px;
}
h4{
	margin: 50px;
	font-size: 12px;
	color: #3c6d77;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	clear: both;
}
li{
	margin: 0px;
	padding: 0px;
	line-height: 0;
}
img{
	vertical-align:middle;
}