body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #002a33;
	height: 100%;
	width: 100%;
}
#logoImg{
	width: 100%;
	background: #1d292b;
	text-align: center;
	margin: 5px;
}
#mainMenu{
	width: 100%;
	background: #3c6d77;
}
#content{
	width: 100%;
	text-align: center;
}
.clearBox{
	clear: both;
}
.mainMenuBtn{
	float: left;
	width: 25%;
	text-align: center;
	color: #ff8317;
}
.mainMenuBtn a:link {  
   color: #ff8317;  
   text-decoration: none;  
}  
.mainMenuBtn a:visited {  
   text-decoration: none;  
   color: #ff8317;  
}  
.mainMenuBtn a:hover {  
   text-decoration: underline;  
   color: #ff8317;  
}  
.mainMenuBtn a:active {  
   text-decoration: none;  
   color: #ff8317;  
}
.btnImg{
	margin: 5px;
}
ul{
	margin: 0px;
	list-style: none;
	clear: both;
}
li{
	margin: 0px;
	line-height: 0;
}