html{
	height: 100%;
}
body{
	display: none;
	margin: 0px;
	padding: 0px;
	background: #3a4f92;
	height: 100%;
	width: 100%;
	color: #587acf;
	text-align: center;
}
#mainMenu{
	/*display:none;*/
	width: 100%;
	margin: auto;
	background: #2d407c;
}
#logoImgSmall{
	display: none;
}
#logoImgBig{
	/*display: none;*/
	padding: 100px 0px 100px 0px;
}
#content{
	/*display:none;*/
	position: relative;
	width: 100%;
}
#content #aboutme{
	padding: 50px;
	text-align: left;
	color: #fff;
}
.logoImg{
	width: 100%;
	margin: auto;
	text-align: center;
	background: #0a1125;
}
.mainMenuBtn{
	cursor:pointer;
	display: block;
	float: left;
	width: 25%;
	padding: 5px 0px;
	text-align: center;
	color: white;
}
.mainMenuBtnchoiced{
	background: #3a4f92;
}
.btnImg{
	padding: 5px;
}
.imgbox{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border:2px solid #3a4f92;
}
.imgsample{
	height: 300px;
	/*float: left;*/
	margin: 10px;
	border:2px solid #3a4f92;
}
.sample{
	float: left;
	padding: 10px;
	/*border-bottom:2px solid #4462ad;*/
	text-align: center;
}
.samplebox{
	float: left;
	word-wrap: break-word;
	word-break: normal;
	width: 490px;
	height: 500px;
	color: #fff;
	background: #4462ad;
	padding: 0px 5px 10px 5px;
	margin:  10px;
}
.sample_img{
	float: left;
}
.sample_info{
	float: left;
	padding: 10px;
	margin-left: 10px;
	color: #fff;
	text-align: left;
	word-wrap:break-word;
}
.rbutton {
    display: inline-block;
    position: relative;
    /*margin: 10px;*/
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    background: #cebd33;
 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.contentPage{
	width: 100%;
	top: 0px;
	display: block;
	margin: auto;
	position: absolute;
}
.clearBox{
	width: 0px;
	height: 0px;
	clear: both;
}
a {  
   color: #fff;  
   text-decoration: none;  
}
a:hover {  
   text-decoration: none;  
   color: #fff100; 
}
h3{
	margin: 0px;
	padding: 0px;
	border-bottom:2px solid #3a4f92;
}
h4{
	margin: 0px;
	padding: 0px;
	color: #cad5f9;
}
img{
	vertical-align:middle;
}